<!DOCTYPE html>
<html>
<head>
  <title>FitSync - Homepage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">FitSync</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down">
        {{#if logged_in}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/api/exercise/">Exercises</a></li>
        <li><a href="/api/users/logout">Logout</a></li>
        {{else}}
        <a href="/api/users/login">Login</a>
        {{/if}}

      </ul>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>
 <footer class="center">Thanks for working out with us!</footer>
</html>