  <div class="container">
      <h1 class="exercise-logo"><div id="welcome_logo"> FitSync</div></h1>
            <ul>
        {{#each exercises as |exercise|}}
          <li>
            <h3>{{exercise.name}}</h3>
            <p>{{exercise.description}}</p>
            <p>Muscle Group: {{exercise.category}}</p>
            <p>Difficulty: {{exercise.difficulty}}</p>
          </li>
        {{/each}}
      </ul>
</div>
 