  <div class="container">
      <h1 class="blue-text text-darken-2">Welcome to FitSync</h1>
            <ul>
        {{#each exercises as |exercise|}}
          <li>
            <h3>{{exercise.name}}</h3>
            <p>{{exercise.description}}</p>
            <p>Difficulty {{exercise.difficulty}}</p>
          </li>
        {{/each}}
      </ul>
</div>
 