    <div class="container center">
      <h1 id="welcome">Welcome to <div id="welcome_logo"> FitSync</div></h1>
      <p id= intro >Get fit and stay in shape with our exercise tracking app.{{exercise.name}}</p>
      <!-- Pagination links -->
      <div class="pagination">
        {{#if hasNextPage}}
          <a href="/?page={{nextPage}}">Next</a>
        {{/if}}
        {{#if hasPrevPage}}
          <a href="/?page={{prevPage}}">Previous</a>
        {{/if}}
      </div>
    </div>